/*
--- Colors ---
color: #E6AE0F;
color: #6592a7;
color: #323637;
*/


/*-- Body --*/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Kelly Slab', sans-serif;
}

section {
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 50vh;
  min-height: 9em;
  position: relative;
  min-height: 1px;
  width: 100%;
  float: left;
}

@media (min-width:500px) {
  /*a {
    padding: 0;
  }*/
  header {
    position: absolute;
  }
  section {
    width: 50%;
    height: 100vh;
  }
}

header img {
  background-color: #fff;
  width: 240px;
  padding: 0 25px 20px 25px;
  text-align: center;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.img-a {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url(c1.jpg);
  background-size: cover;
  background-position: center;
  flex: 1;
  padding: 1rem;
  transition: all .2s ease-in-out;
}

.img-b {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url(l2.jpg);
  background-size: cover;
  background-position: center;
  flex: 1;
  padding: 1rem;
  transition: all .2s ease-in-out;
}

a {
  text-decoration: none;
  color: #fff;
  padding: 100% 0;
}

.overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.side-a {
  background-color: #E6AE0F;
  opacity: .6;
}

.side-b {
  background-color: #6592a7;
  opacity: .6;
}

.side-a:hover, .side-b:hover {
  opacity: 0;
  cursor: pointer;
}

.txt-a {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding-top: 1em;
  font-size: 4em;
  color: #fff;
  font-weight: 600;
  text-align: center;
  height: 100%;
  width: 100%;
  background-color: rgba(230, 174, 15, 0.6);
}

.txt-a:hover {
  background-color: rgba(230, 174, 15, 0.0);
}

.txt-b {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding-top: 1em;
  font-size: 4em;
  color: #fff;
  font-weight: 600;
  text-align: center;
  height: 100%;
  width: 100%;
  background-color: rgba(101, 146, 167, 0.6);
}

.txt-b:hover {
  background-color: rgba(101, 146, 167, 0.0);
}
